html{
  scroll-behavior: smooth;
}
body{
  text-align: center;
  font-family: 'Montserrat',sans-serif !important;
}
h1, h3, h2 {
   font-family: 'Montserrat-Black',sans-serif;
   font-weight: 900;
}
p{
  color: grey;
}
/* fonts size */
.big-heading{
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}
.medium-heading{
  font-size: 2rem;
}
.small-heading{
  font-size: 1.5rem;
}
.xsmall-heading{
  font-size: 1.2rem;
}
/* container padding */
.container-padding{
  padding: 7% 15%;
}
/* colors */
.bg-red{
  background-color: #ff4c68;
}
.bg-white{
  background-color: white;
}
.bg-orange{
  background-color:#ef8172;
}
.font-white{
  color:white;
}
/* ID */
#title{
  text-align: left;
  padding: 3% 15%;
}
/* TITLE */
.navbar{
  padding: 0px 0px 80px 0px;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: 900;
}
.nav-item{
  padding: 0 18px 0 18px;
}
.download-button{
  margin: 5% 3% 10% 0%;
}
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* FEATURES */
#features{
  position: relative;
}
.icon{
  color: #ef8172;
  margin: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
/* Testimonials */
#press{
  padding: 3%;
}
.testimonial-img{
  width: 10%;
  border-radius: 50%;
  margin: 30px 50px;
}
.press-img{
  width: 15%;
  padding: 20px 0px 20px;
}
/* PRICING */
.pricing-col{
  padding: 3% 2%;
}
/* cta */
#cta{
  padding: 3% 15% 10%;
}
.cta-heading{
  padding: 20px 0px 50px 20px;
}
.cta-button{
  padding: 10px 30px 10px 30px;
  margin: 0px 10px 0px 10px;
}
/* footer */
.footer-icon{
  margin: 20px 10px 20px 10px;
}
/* media queries */
@media (max-width:1028px) {
  .title-image{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }
}
